<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Accounts</title>
</head>
<body>
    <h1>Accounts</h1>
    <p>Specify an owner id in the query string: <code>?ownerId=123</code></p>
</body>
</html>